<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
</div>
<h2>NodeJS APIs: </h2>
<ul>
  <li>
    <h2>GET</h2>
    <button (click)="getAll()">GET ALL</button>
  </li>
  <li>
    <h2>POST</h2>
    Value: <input type="text" [(ngModel)]="postData">
    <button (click)="createOne()">CREATE ONE</button>
  </li>
  <li>
    <h2>PUT</h2>
    ID: <input  type="text" [(ngModel)]="putId">
    Value: <input  type="text" [(ngModel)]="putVal">
    <button (click)="updateOne()">UPDATE ONE</button>
  </li>
  <li>
    <h2>REMOVE</h2>
    ID: <input  type="text" [(ngModel)]="delId">
    <button (click)="deleteOne()">DELETE ONE</button>
  </li>
</ul>
<hr/>
<h2>Result:</h2>
<button (click)="clearResult()">Clear</button>
<p>{{result}}</p>

